<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Application Form</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Leave Request Form - {{ template }}</h1>
        <p>Fill out the form for {{ template }}</p>

        <form action="/generate1" method="POST">

            <label>Date:</label><br>
            <input type="date" name="date" required><br><br>

            <label>Your Roll Number:</label>
            <input type="text" name="your_roll_number" value="" required><br>

            <label>Your Course and Year:</label>
            <input type="text" name="your_course_and_year" value="" required><br>

            <label>College Name:</label>
            <input type="text" name="college" value="" required><br>

            <label>Class guide:</label><br>
            <input type="text" name="class_guide" required>

            <label>Gender (Sir/Madam):</label><br>
            <input type="text" name="gender" required><br><br>

            <label>Start Date:</label><br>
            <input type="date" name="start_date" required><br><br>

            <label>End Date:</label><br>
            <input type="date" name="end_date" required><br><br>

            <input type="submit" value="Generate Leave Request">
        </form>
    </div>
    <script>
        document.querySelector('form').addEventListener('submit', function() {
    const submitButton = this.querySelector('input[type="submit"]');
    submitButton.classList.add('loading');
});
    </script>
</body>
</html>
